install.packages("shiny")
install.packages("dplyr")
install.packages("ggplot2")
install.packages("tidyverse")
install.packages("gapminder")
install.packages("geojsonio")
install.packages("broom")
install.packages("mapproj")

library(shiny)
library(gapminder)
library(dplyr)
library(ggplot2)
library(tidyverse)